<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LokerApp"
        tools:targetApi="31">
        <activity
            android:name=".cari.searching"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".lengkap2"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".lengkap"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".registrasi_kategori"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".registrasi4_otp"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".kategori.kategori"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".akun.edit_akun"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registrasi2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail_pekerjaan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lupa_password2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lupa_password1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".lupa_password3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registrasi"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>